    <a href="/">YAM</a>

    <style>
        a {
            font-size: 1.5rem;
            font-style: italic;
            font-weight: bold;
            text-decoration: none;
        }

    </style>


