---

---

<nav>
  <ul>
    <li>
      <a href="/docs/getting-started/quick-start"> Documentation</a>
    </li>
    <li>
      <a href="https://github.com/peterpjaspers/yet-another-make"> GitHub</a>
    </li>
  </ul>
</nav>
